<div class = "project">
    <div class = "project-title">
        __gsx$title__
    </div>
    <div class = "project-summary">
        __gsx$summary__ 
    </div>
    <div class = "project-image" style ="background-image : url('__gsx$logo__')">
    </div>
    <table class = "project-links">
        <tr>
            <td>
                Source Code
            </td>
            <td>
                <a class = "project-source" href = "__gsx$sourcelink__">__gsx$sourcelink__</a>
            </td>
        </tr>
        <tr>
            <td>
                Project News
            </td>
            <td>
                <a class = "project-news" href ="__gsx$blog__">__gsx$blog__</a>
            </td>
        </tr>
    </table>
    <div class = "project-description">
        __gsx$description__
    </div>
    <div class = "project-video">
        <object width="660" height="525">
            <param name="movie" value="__gsx$demo__">
            </param><param name="allowFullScreen" value="true">
            </param><param name="allowscriptaccess" value="always">
            </param>
            <embed src="__gsx$demo__" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="660" height="525">
            </embed>
        </object>
    </div>
</div>
