<div class = "project">
    <div class = "project-title">
        ${gsx$title.$t}
    </div>
    <div class = "project-summary">
        ${gsx$summary.$t}
    </div>
    <div class = "project-image" style ="background-image : url('__gsx$logo__')">
    </div>
    <table class = "project-links">
        <tr>
            <td>
                Source Code
            </td>
            <td>
                <a class = "project-source" href = "${gsx$sourcelink}">${gsx$sourcelink}</a>
            </td>
        </tr>
        <tr>
            <td>
                Project News
            </td>
            <td>
                <a class = "project-news" href ="${gsx$blog}">${gsx$blog}</a>
            </td>
        </tr>
    </table>
    <div class = "project-description">
        ${gsx$description}
    </div>
    <div class = "project-video">
        <object width="660" height="525">
            <param name="movie" value="${gsx$demo}">
            </param><param name="allowFullScreen" value="true">
            </param><param name="allowscriptaccess" value="always">
            </param>
            <embed src="${gsx$demo}" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="660" height="525">
            </embed>
        </object>
    </div>
</div>
