body, table {
    font-size: 14px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

#header {
    height: 15%;
    min-height: 85px;
}

#page-title {
    background-color: #000000;
    color: #FFFFFF;
    font-family: Garamond, Georgia, Times;
    font-size: 2em;
    padding: 0.3em;
    text-shadow: 0 0 10px;
}

#navigation-bar {
    list-style-type: none;
    text-align: right;
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    background-color: #CCCCCC;
    border-bottom: SOLID 1px #333333;
}

#navigation-bar li {
    display: inline;
    border-left: SOLID 1px #ffffff;
    border-right: SOLID 1px #333333;
    margin: 0;
    padding: 0;
}

#navigation-bar a {
    padding: 0.3em 0.5em 0.3em 0.5em;
    text-decoration: none;
    color: #000000;
    display: inline-block;
}

#navigation-bar a:hover {
    text-decoration: underline;
}

#content {
    height: 79%;
    overflow: auto;
    background-color: #FFFFFF;
    color: #000000;
}

.project-list {
}

.project-item {
    border: #CCCCCC SOLID 2px;
    margin: 0.5em;
    max-width: 300px;
    text-decoration: none;
    color: #000000;
    display: inline-table;
    background-color: #FFFFFF;
}

.project-item a:hover {
    background-color: #EEEEEE;
}

.tags {
    font-size: 0.7em;
    padding: 0.2em 0.5em 0.5em 0.5em;
	overflow-x : hidden;
	height : 1em;
	text-align : right;
}

.tag-category {
    text-align: right;
    display: inline;
    color: #006600;
}

.duration {
    display: none;
}

.project-list-single {
    width: 28%;
    float: left;
    height: 100%;
}

.project-list-single .project-item {
    display: block;
    border: none;
    width: 100%;
    margin: 0;
    font-weight: normal;
    border-left: SOLID 1px #CCCCCC;
}

.project-list-single div {
    display: none;
}

.project-list-single .project-name {
    display: block;
    font-size: 1em;
    font-weight: normal;
    color: #000000;
}

#projectContent {
    width: 70%;
    float: left;
}

.project-name, .project-title {
    font-size: 1.2em;
    color: #333333;
    display: block;
    padding: 0.2em 1em 0.2em 0.5em;
    color: #408DFB;
}

.project-title {
    width: 100%;
    padding: 0 0 1em 0;
}

.project-tweet {
    clear: both;
    display: block;
    text-align: justify;
    padding: 0.5em;
    font-size: 0.9em;
}

#footer {
    background-color: #000000;
    color: #EEEEEE;
    text-align: center;
    padding: 0.3em;
    font-size: 0.8em;
    height: 5%;
}

#footer a {
    text-decoration: none;
    color: #408DFB;
}
