<meta charset="utf-8" />

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<meta name="author" content="Parashuram" />
<meta name='keywords' content='programming, javascript, java, scripts, node, angular, nodejs, performance'/>
<meta name='description' content='The home page of Parashuram' />
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
<meta name='MSSmartTagsPreventParsing' content='true' />

<meta name=viewport content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon" href="/favicon.ico"/>
<link rel="image/vnd.microsoft.icon" rel="icon" href="/favicon.ico" />
<link rel="me" href="http://nparashuram.com" />
<link rel='canonical' href="http://nparashuram.com" />
<link rel="alternate" type="application/atom+xml" title="Parashuram's Blog" href="http://blog.nparashuram.com/feeds/posts/default" />
<link rel="alternate" type="application/rss+xml" title="Parashuram's Blog" href="http://blog.nparashuram.com/feeds/posts/default?alt=rss" />

<!-- For Android  http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android -->
<meta name="theme-color" content="#fff">
<link rel="icon" sizes="369x369" href="me.png">