<div class="projects" id="projects">
	<hr/>
	<h2>Projects</h2>
	<p>
		View all my projects
		<a href="https://github.com/axemclion?tab=repositories" target="_blank">on github</a>
		.
		<br/>
		Here are some recent interesting projects.
		<br/>
	</p>
	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-xs-12">
				<a class="project-card" href="https://github.com/axemclion/browser-perf" target="_blank">
					<h3>browser-perf</h3>
					<p>
						Automating runtime perf measurements of web pages and hybrid apps, measure frame rates, smoothness, etc.
					</p>
				</a>
			</div>
			<div class="col-sm-3 col-xs-12" >
				<a class="project-card" href="https://nparashuram.com/IndexedDB" target="_blank">
					<h3>IndexedDB</h3>
					<p>
						A polyfill for IndexedDB using WebSQL, performance of IndexedDB Operations and other experiments
					</p>
				</a>
			</div>
			<div class="col-sm-3 col-xs-12">
				<a class="project-card" href="https://github.com/axemclion/mediaplus" target="_blank">
					<h3>Mediaplus</h3>
					<p>
						Extension to control media content better on web. 60000+ downloads, versions for Chrome, Firefox and Opera.
					</p>
				</a>
			</div>
		</div>
	</div>
	<div class="misc container">
		<p>
			I write about my projects on my blog. Here are some
			<a href="http://blog.nparashuram.com/2005/01/popular-blog-posts.html" target="_blank">popular blog posts</a>
			.
			<br/>
			I like attending tech conferences and have also spoken at some. Here are some of my
			<a href="http://blog.nparashuram.com/search/label/techtalks" target="_blank">Tech Talks</a>
			.
		</p>
	</div>
</div>